
HOST Variables ("hostvars"):
--------------------------------
{{ hostvars['192.168.0.12']['ansible_eth0'] }}

{{ hostvars['192.168.0.12']['ansible_wlan0'] }}

{{ hostvars['192.168.0.12']['ansible_all_ipv4_addresses'] }}
